<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    .filename{
    width: 300px;
    height: 30px;
    line-height: 30px;
}
a{
    width: 50px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    overflow:hidden;
    display: inline-block;
}
a input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
</style>
</head>
<body>
    
  <form class="form-horizontal" name="form">
    <div class="form-line">
        <label>请选择证书文件：</label><span class="small-tip">证书文件只支持.pem格式，文件大小1M以内</span>
        <div class="choose-file-area">
            <input class="file-name" type="text" readonly="readonly" ng-model="fileItem.name"/>
            <a href="javascript:;" class="choose-book">
                <input type="file" name="certificate" nv-file-select uploader="uploader" ng-click="clearItems()"/>浏览
            </a>
        </div>
    </div>
    <div class="form-line">
        <label>请选择私钥文件：</label><span class="small-tip">私钥文件只支持.key格式，文件大小1M以内</span>
        <div class="choose-file-area">
            <input class="file-name" type="text" readonly="readonly" ng-model="fileItem1.name"/>
            <a href="javascript:;" class="choose-key">
                <input type="file" name="key" nv-file-select uploader="uploader1" ng-click="clearItems1()"/>浏览
            </a>
        </div>
    </div>
    <button type="submit" ng-click="UploadFile()">提交</button>
</form>


</body>
</html>