extends layout.pug
block body
  .container-fluid
      .row
        .col-md-3  
        
        .col-md-6
          div
            img.rounded(src='images/id_card.png', alt='signup')
          br
          hr
          h4 Acctount 
          h3 #{myusername}
          h4 has been activied! 
          h4 Good job!
          br
          br
          div(name ='home')
             a(href='/')
               button.btn.btn-primary(type='button' name = 'home') Return to home page
             | &nbsp&nbsp&nbsp&nbsp&nbsp
             a(href='#modal-container-login', data-toggle='modal')
               button.btn.btn-primary(type='button') Sign in right now
        .col-md-3