extends layout.pug
block body
  style.
    pre {
    font-size:14px;
    color:red;
    } 
    div[name='err']{
    text-align:right;
    }
  br
  br
  .container-fluid
    .row
       .col-md-3
       .col-md-6
           h1= message
           h2= error.status
           pre #{error.stack}
           div(name ='err')
             a(href='/')
               button.btn.btn-primary(type='button' name = 'err') Return to home page
       .col-md-3
