
extends layout.pug
block body
    style.
      .map-marker {
      float: right;
      margin-right: 10px;
      margin-top: -27px;
      z-index: 2;
      color:gray;
      }
      .question-circle{
      float: right;
      margin-right: 10px;
      margin-top: -27px;
      z-index: 2;
      color:gray;
      }
      indeep {
      font-size: 1.6em;
      font-family: 'Frijole', cursive;
      color: blue;
      position: relative;
      top: 30px;
      left: -24px;
      //text-align:left; 
      text-shadow: 3px 3px 0px rgb(236, 234, 238), 9px 8px 0px rgba(47, 13, 77, 0.15);
      }
      button.findjob {
      position: relative;
      top: 32px;
      }
      input[name='what']{
      border-radius: 0px;  
      }
      input[name='where']{
      border-radius: 0px;  
      }
 
    br
    br
    br
    br
    br
    br
    br
    form(action='job', method='get', enctype='application/x-www-form-urlencoded')
       .container-fluid
          .row
            .col-md-2
            .col-md-4
              .row
                .col-md-3
                  indeep &nbsp&nbspIndeep
                  br
                  br     
                .col-md-9
                  label(for='what')
                    b What
                  input#what.form-control(name='what', type='text', placeholder='job title, keywords, or company')
                  span.fa.fa-question-circle.question-circle               
            .col-md-4
              .row
                .col-md-9
                  label(for='where')
                    b Where
                  input#where.form-control(name='where', type='text', placeholder='city or province')
                  span.fa.fa-map-marker-alt.map-marker
                .col-md-3
                  button.btn.btn-primary.findjob(type='submit')
                    i.fas.fa-search
                    |  Find jobs
            .col-md-2
       //p(align='center') Recommend jobs...
       br
       br
       br
       br
       br
       br
       .container-fluid
         .row
           h4 &nbsp&nbspFeatrued employer
       .container-fluid
         .row
               .col-md-4
                 h5 Toss the dishes
                 p
                   | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                   | ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                 p
                   a.btn(href='http://indeep.tk/jobdetail?id=5b969cbaed1fd75b3493502d') View details »
               .col-md-4
                 h5 SKT software company
                 p
                   | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                   | ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                 p
                   a.btn(href='http://indeep.tk/jobdetail?id=5b969cbaed1fd75b3493502c') View details »
               .col-md-4
                 h5 Put your post here
                 p
                   | ONLY $100 per month, you can post your job on our home page!
                   | Do't miss this chance~Do't miss this chance~Do't miss this chance~Do't miss this chance~Do't miss this chance~Do't miss this chance~Do't miss this chance~Do't miss this chance~
                 p
                   a.btn(href='http://indeep.tk/jobdetail?id=5b969cb9ed1fd75b3493502b') View details »
                   
               script(src= 'js/index.js')