extends layout.pug
block body
 link(href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css', rel='stylesheet')
 link(href='css/pagination.css', rel='stylesheet')
 script(src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js')
 script(src='//platform-api.sharethis.com/js/sharethis.js#property=5b6a1e2ab1029a001122105e&product=inline-share-buttons')
 style.
   div.hoverlist {
   margin-left: 0px;
   padding: 0px;
   }
   div.hoverlist:hover {
   background-color: #F1F1F1;
   cursor: pointer;
   }
   p.midjobrow {
   margin: 5px;
   padding: 5px;
   }
   p.list-item {
   margin: 0px 5px 0px 5px;
   padding: 0px 5px 0px 5px;
   }
   div.midjobrow:hover {
   background-color: #F1F1F1;
   cursor: pointer;
   }
   div.rightdiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }

   div.leftdiv {
   min-height: 800px;
   border: 1px solid #F1F1F1;
   margin: 0px;
   padding: 0px;
   }

   div.middiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }
   div.leftpanel {
   margin-top: 20px;
   }
   .space{
   width: 30%;
   } 
   .note-editor
   {
   position: relative;
   top:1px;
   left:-1px;
   border-radius:0;
   }

   div[class='line']
   {
   padding :10px;
   height: 80px;

   font-family: 'Bookman';
   //font-size:19px;

   }
   div[class = 'line']:hover
   {
   font-family: 'Bookman';        
   padding :10px;
   background-color: #F1F1F1;
   cursor: pointer;
  
   height: 80px;
   }
   div.company
   {
   font-size: 12px;
   color: #2A78B2;
   //background-color: #F1F1F1;
   }

   div[class = 'selected']
   {
   padding :10px;    
   background-color:#d9e5f9;
   cursor: pointer;
   height: 80px;
   font-family: 'Bookman';
   }

   div [class = 'job']{
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   }

   input[name='what']{
   border-radius: 0px;  
   }
   span[class="input-group-text"]{
   border: 0px solid red;   
   background-color: white;
   border-radius:-1;
   }

   div.input-group-prepend{
   border: 1px solid #F1F1F1;   
   background-color: white;
   border-radius:0;    
   }
   .se{
   width : 165%;
   position:relative ;
   left : 8px;
   }

   .hoverListHead{
   color : gray;
   font-size: 12px;
   }

 .container-fluid(ng-app='ui.job')
   .row(ng-controller='PaginationDemoCtrl')
     .col-md-12
       .col-md-3
         .row
            form(action='job', method='get', enctype='application/x-www-form-urlencoded')
              .form-group
                .input-group.se
                  | &nbsp&nbsp
                  input#what.form-control( name='what', type='text', placeholder='job title, keywords, or company',value = whatText)  
                  | &nbsp&nbsp
                  input#where.form-control(name='where',type='text', placeholder='city or province',value = whereText)
                  | &nbsp&nbsp
                  span.input-group-btn
                    button.btn.btn-primary(type='submit') Find jobs
       .col-md-3
       .col-md-3
     .col-md-2.leftdiv
       .leftpanel
         .hoverListHead
           p.hoverListHead Your recent search:
         .hoverlist
           p.list-item Consectetur adipiscing elit
         .hoverlist
           p.list-item Integer molestie lorem at massa
         .hoverlist
           p.list-item Facilisis in pretium nisl aliquet
         .hoverlist
           p.list-item Nulla volutpat aliquam velit
         .hoverlist
           p.list-item Faucibus porta lacus fringilla vel
         .hoverlist
           p.list-item Aenean sit amet erat nunc
         .hoverlist
           p.list-item Eget porttitor lorem
     .col-md-3.middiv( ng-cloak='',ng-init="load()")
       div.buttonpanel 
         
         .paganation0
           table.table
             div(ng-if='row.length > 0', ng-init='linesDone()')
             //, repeat-done='layoutDone()'
             div(ng-repeat='row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))', ng-init='$last && linesDone()')  
               .line(ng-click='lineClick($event)')
                  div(hidden='') {{row._id}}
                  div(hidden='boss') {{row.user}}
                  div(class='title') {{row.title}}
                  div(class= 'company') {{row.company}}
           .page.bottom_footer   
             ul.pagination-sm(uib-pagination='', items-per-page='itemsPerPage',total-items='totalItems', ng-model='currentPage', max-size='maxSize', boundary-links='true', num-pages='numPages',ng-change="pageChanged()")
    
     .col-md-7.rightdiv
           .leftTopPanel
             .input-group.input-group-sm.mb-3
               .input-group-prepend
                 span.input-group-text(for='inputGroupSelect01') File one:
               select#inputGroupSelect01.custom-select(name='inputGroupSelect01')
                 option(selected='')
               .input-group-prepend
                 span.input-group-text(for='inputGroupSelect02') File two:
               select#inputGroupSelect02.custom-select(name='inputGroupSelect02')
                 option(selected='')
               button.btn.btn-primary.btn(id= 'apply' ,ng-click='apply()') Apply this job
             //.sharethis-inline-share-buttons
             .sharethis-inline-share-buttons(data-url='http://indeep.tk', data-title='Find your job!')
               //.input-group-prepend
             #summernote
           script(src= 'js/job.js')