
extends layout.pug
block body
  style.
   .note-editor
   {
   position: relative;
   top:1px;
   left:-1px;
   border-radius:0;
   }


  link(href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js')
  script(src='//platform-api.sharethis.com/js/sharethis.js#property=5b6a1e2ab1029a001122105e&product=inline-share-buttons')
  .container-fluid
    .row
      .col-md-2
      .col-md-8
        h1
          p(id = 'title') &nbsp
        .sharethis-inline-share-buttons(data-title='Find your job!')
        #summernote  
      .col-md-2
    script(src= 'js/jobdetail.js')