doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Find a job if you're in deep water
  meta(name='description', content='Good luck!')
  meta(name='author', content='Zhonghua Wang')
  meta(name='google-signin-client_id', content='1038484925731-iu338aiclri6kg7unj6tpn078gckbn61.apps.googleusercontent.com')
  style.
    button.btn.btn-primary{
    border-radius: 0px;
    }

    a.navbar-brand {
    font-size: 1em;
    font-family: 'Frijole', cursive;
    text-shadow: 3px 3px 0px rgb(236, 234, 238), 9px 8px 0px rgba(47, 13, 77, 0.15);
    }
    input[class=mo]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    button[name=login] {
    width: 100%;
    position: relative;
    left:-15px;
    }
    button[name=close] {
    width: 40%;
    position: relative;
    left: 15px;
    }
    nav.navbar {
    background:linear-gradient(to bottom, white, white);
    }
    a.navbar-brand {
    font-size: 1em;
    font-family: 'Frijole', cursive;
    text-shadow: 3px 3px 0px rgb(236, 234, 238), 9px 8px 0px rgba(47, 13, 77, 0.15);
    }
    div.mid1 {
    text-align: right;
    font-size: 8px;
    color: blue;
    }
    div.col-md-12 {
    margin: 0px;
    padding: 0px;
    }
    
    iframe{
    border:0; 
    border:none; 
    }

    .group-div {
        border: 1px solid#0F7BFD;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }


    .google-button {
        position: relative;
        left:16px;
    }


    .google{
        width: 416px;
    }
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
  link(href='css/style.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Eater|Frijole', rel='stylesheet')
  script(src='https://www.google.com/recaptcha/api.js?hl=en')
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
body
 
 .hiddenPassValue(hidden='') 
   input.form-control(hidden='',id ='hiddenLoginUser', value=loginUser)
   input.form-control(hidden='',id ='hiddenLoginRole', value=loginRole)
   input.form-control(hidden='',id ='hiddenPix', value=pix)

 script(src='js/beforeLoadPage.js')
 #modal-container-login.modal.fade(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
   .modal-dialog(role='document')
     .modal-content
       .modal-header
         h5#myModalLabel.modal-title
           | Sign in
         button.close(type='button', data-dismiss='modal')
           span(aria-hidden='true') ×
       form(action='/login', method='post')
         .modal-body    
           div
             div
               label(for='user') User name
             input(class = "mo form-control",type='text', placeholder='Enter username', name='user',id = 'ajusername',autocomplete="username")
           div
             div
               label(for='password') Password
             input(class = "mo form-control",type='password', name='password', placeholder='Enter password',id = 'ajpassword',  autocomplete="current-password")
           div
           br
           .g-recaptcha(data-sitekey='6Ld7hGoUAAAAAFPyaDykPc1RQbEP99QfxdnG9ycX',data-callback="enableBtn")
           .modal-footer
             //use ajax
             button.btn.btn-primary(type='button', name='login',id= 'ajsummit1',disabled ='true') Login
             button.btn.btn-primary(type='button', data-dismiss='modal', name='close') Close
           hr
       .input-group.mb-3.google-button
         .input-group-prepend.group-div
           img(src='/images/google.png')
         button.btn.btn-primary.google(id='google')  Sign in with google
         script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
         script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js')
         script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js')
         script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js')
         script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js')
         script(src='js/layout.js')
             
 if isLogined     
   .container-fluid
     .row
       #navbar.col-md-12
         nav.navbar.navbar-expand-lg.navbar-light.bg-light
           button.navbar-toggler(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
             span.navbar-toggler-icon
           a.navbar-brand(href='/') Indeep
           #bs-example-navbar-collapse-1.collapse.navbar-collapse
             ul.navbar-nav
               li.nav-item.active
                 a.nav-link(href='/jobdetail?id=5b969cb9ed1fd75b34935028') About us
             ul.navbar-nav.ml-md-auto
               img(src= './upload/'+ pix +'.png' , id = 'avatarIcon' class='profile', width='30', height='30')
               li.nav-item.dropdown.active
                 a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') #{loginUser}
                 .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                   a#Menu001.dropdown-item(href='/setrole') Please choose your role
                   a.dropdown-item(href='/Profile') Profile
                   a.dropdown-item(href='/logout') Logout
   block body
   script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
   script(src='https://cdn.jsdelivr.net/npm/sweetalert2@7.25.0/dist/sweetalert2.all.min.js')
 else
  .container-fluid
   .row
     #navbar.col-md-12
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
         button.navbar-toggler(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
           span.navbar-toggler-icon
         a.navbar-brand(href='/') Indeep
         #bs-example-navbar-collapse-1.collapse.navbar-collapse
           ul.navbar-nav
             li.nav-item.active
               a.nav-link(href='/jobdetail?id=5b969cb9ed1fd75b34935028') About us
           ul.navbar-nav.ml-md-auto
             li.nav-item.active
               a.nav-link(href='#modal-container-login', data-toggle='modal')
                 i.fas.fa-sign-in-alt
                 |  Sign in 
                 span.sr-only (current)
             li.nav-item.dropdown.active
               a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                 i.fas.fa-user-plus 
                 |  Sign up
               .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                 a.dropdown-item(href='/signupuser')
                   i.fas.fa-edit
                   |  Write resume
                 a.dropdown-item(href='/signuppostjob')
                   i.fas.fa-paste
                   |  Post job

   block body
  
   script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
   script(src='https://cdn.jsdelivr.net/npm/sweetalert2@7.25.0/dist/sweetalert2.all.min.js')
