extends layout.pug
block body
  .container-fluid
    .row
       .col-md-3
       .col-md-6
          br
          br
          div
            img.rounded(src='images/lock.png', alt='lock')
          br
          hr
          h4 Some thing wrong happend
          h3 #{notice}
          h7 Have a nice job! indeep.tk team.
          br
          br
          div(name ='home')
             a(href='/')
               button.btn.btn-primary(type='button' name = 'home') Return to home page
             | &nbsp&nbsp&nbsp&nbsp&nbsp
             a(href='#modal-container-login', data-toggle='modal')
               button.btn.btn-primary(type='button') Sign in right now
       .col-md-3
