extends layout.pug
block body
 //script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
 link(href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css', rel='stylesheet')
 link(href='css/pagination.css', rel='stylesheet')
 script(src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js')
 style.
    button[id='post']{
     position: relative;
     left:11px;
     width:70px;
     //background-color:white;
     border-radius:0;
     //border: 1px solid #F1F1F1;
     margin-bottom:3px;
   }

   button[id='delete']{
     position: relative;
     left:8px;
     width:70px;
     background-color:white;
     border-radius:0;
     border: 1px solid #F1F1F1;
     margin-bottom:3px;
   }

   button[id='save']{
     position: relative;
     left:5px;
     width:70px;
     background-color:white;
     border-radius:0;
     border: 1px solid #F1F1F1;
     margin-bottom:3px;
   }

   button[id='rename']{
     position: relative;
     left:2px;
     width:70px;
     background-color:white;
     border-radius:0;
     border: 1px solid #F1F1F1;
     margin-bottom:3px;
   }

   button[id='new']{
     position: relative;
     left:-1px;
     width:70px;
     background-color: white;
     border-radius:0;
     border: 1px solid #F1F1F1;
     margin-bottom:3px;

   }

   .bottom_footer {
       position: relative;
       top:4px;
   }


   div.middiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }
   div.leftpanel {
   margin-top: 20px;
   
   }

   .leftdiv{
    border: 1px solid #F1F1F1;
    height: 90vh;
   }
   div.middiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }
   div.rightdiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }
   div.topdiv{
   text-align: center;   
   font-family: 'Bookman';  

   }
   .note-editor
   {
   position: relative;
   top:1px;
   left:-1px;
   border-radius:0;

   }


  
   div[class = 'selected']
   {
   padding :10px;    
   background-color:#d9e5f9;
   cursor: pointer;
   height: 80px;
   font-family: 'Bookman';
   }
  

   div[class='line']
   {
   padding :10px;
   height: 80px;

   font-family: 'Bookman';
   //font-size:19px;

   }


   span[class="input-group-text"]{
   border: 0px solid red;   
   background-color: white;
   border-radius:-1;
   }

   div [class="input-group"]{
   border: 1px solid white;   
   background-color: white;
   border-radius:0;
   }
   div.input-group-prepend{
   border: 1px solid #F1F1F1;   
   background-color: white;
   border-radius:0;    
   }


   div[class = 'line']:hover
   {
   font-family: 'Bookman';        
   padding :10px;
   background-color: #F1F1F1;
   cursor: pointer;
  
   height: 80px;

   }

   div.company
   {
   font-size: 12px;
   color: #2A78B2;
   //background-color: #F1F1F1;
   }

   .a2 {
   position: relative;
   left : 12px;
   }

 .container-fluid(ng-app='ui.postjob')
   .row(ng-controller='PaginationDemoCtrl' )
     .col-md-12.topdiv
       h3 Manage your job posts
       br
     .col-md-2.leftdiv
       .leftLink
         .a1
           a(href='/postjob')  ✓My posts 
         .a2
           a(href='/cvrecived') Resumes recieved 

     .col-md-3.middiv( ng-cloak='',ng-init="load()")
       div.buttonpanel 
         
         .paganation0
           table.table
             div(ng-if='row.length > 0', ng-init='linesDone()')
             //, repeat-done='layoutDone()'
             div(ng-repeat='row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))', ng-init='$last && linesDone()')  
               .line(ng-click='lineClick($event)')
                  div(hidden='') {{row._id}}
                  div(class='title') {{row.title}}
                  div(class= 'company') {{row.company}}
           .page.bottom_footer
             //ul.pagination-sm(uib-pagination='', boundary-links='true', total-items='totalItems', ng-model='currentPage', max-size='maxSize', previous-text='‹', next-text='›', first-text='«', last-text='»',ng-change="pageChanged()")
             
             ul.pagination-sm(uib-pagination='', items-per-page='itemsPerPage',total-items='totalItems', ng-model='currentPage', max-size='maxSize', boundary-links='true', num-pages='numPages',ng-change="pageChanged()")
     .col-md-7.rightdiv
           .button
             button.btn.btn-default.btn-sm(id= 'new' ,ng-click='newFile()') New file
             button.btn.btn-default.btn-sm(id= 'rename' ,ng-click='renameFile()') Rename
             button.btn.btn-default.btn-sm(id= 'save' ,ng-click='saveFile()') Save
             button.btn.btn-default.btn-sm(id= 'delete' ,ng-click='deleteFile()') Delete
             button.btn.btn-primary.btn-sm(id= 'post' ,ng-click='postFile()') Post
           .leftTopPanel
             .input-group.input-group-sm.mb-3
               .input-group-prepend
                 span#basic-addon1.input-group-text Company name
               input.form-control(id ='company',type='text', placeholder='Company name', aria-label='Company name', aria-describedby='basic-addon1')
               .input-group-prepend
                 span#basic-addon2.input-group-text HR email
               input.form-control(id= 'hremail',type='text', placeholder='HR email', aria-label='HR email', aria-describedby='basic-addon2')
             .input-group.input-group-sm.mb-3
               .input-group-prepend
                 span.input-group-text(for='inputGroupSelect01') Job type
               select#inputGroupSelect01.custom-select
                 option(selected='') Full time
                 option(value='1') Part-time
                 option(value='2') Contract
                 option(value='3') Commission
                 option(value='4') Temporary
                 option(value='5') Internship
                 option(value='6') Other
               .input-group-prepend
                 span.input-group-text(for='inputGroupSelect02') Provinces/territories
               select#inputGroupSelect02.custom-select
                 option(selected='') ALBERTA
                 option(value='1') BRITISH COLUMBIA
                 option(value='2') MANITOBA
                 option(value='3') NEW BRUNSWICK
                 option(value='4') NEWFOUNDLAND AND LABRADOR
                 option(value='5') NOVA SCOTIA
                 option(value='6') ONTARIO
                 option(value='7') PRINCE EDWARD ISLAND
                 option(value='8') QUEBEC
                 option(value='9') SASKATCHEWAN
                 option(value='10') NORTHEST TERRIORIES
                 option(value='11') NUNAVUT
                 option(value='12') YUKON
                 option(value='13') CANADA
               .input-group-prepend
                 span#basic-addon3.input-group-text City/Town
               input.form-control(id= 'city',type='text', placeholder='City or town', aria-label='city', aria-describedby='basic-addon3')
             
             #summernote
           script(src= 'js/postjob.js')