
extends layout.pug
block body
  script(src='/js/md5.js')
  style.
     #file {
   	 display: none;
     }
     #avatar {
    display: none;  
     }
     .form-control {
     border-radius: 0px;
     }



  .container-fluid
    .row
      .col-md-3
      .col-md-6
         h3 Profile Information
         hr
         label.col-md-8.col-form-label(for='email') Email
           input.form-control(type='email', name='email', id='email', value=loginUser,disabled =true)
         br
         label.col-md-3.col-form-label Avatar
         .col-sm-4
           img(src=avatar, id = 'avatar', class='profile', width='100', height='100')
           canvas#myCanvas(width='100', height='100', style='border:1px solid #d3d3d3;')
             | Your browser does not support the HTML5 canvas tag.
           //form#uploadForm(ref='uploadForm', enctype='multipart/form-data')
           .upload-choose-container
             input(type='file', name='file',id='file',accept="image/*" )
             br
             button.btn.btn-primary(id = 'choose') Choose an avatar
             | &nbsp
             button.btn.btn-primary(id = 'submit') Submit
             //button.btn.btn-primary(type='button', id = 'resetpix') Reset to default
         hr
         h3 Reset password
         label.col-md-5.col-form-label(for='pass1') Old password
           input.form-control(type='password', name='pass1', id='pass1', value='')
         //label.col-md-5.col-form-label(id = 'message0') Old password is wrong
         br
         label.col-md-5.col-form-label(for='pass2') New password
           input.form-control(type='password', name='pass2', id='pass2', value='') 
         br
         label.col-md-5.col-form-label(for='pass3') Retype password
           input.form-control(type='password', name='pass3', id='pass3', value='')
         label.col-md-5.col-form-label(id = 'message') Password doesn't match
         br
         button.btn.btn-primary(type='button', id = 'changepassword') Change password  
         br
         hr
         br
         br
         a(href='/')
           button.btn.btn-primary(type='button', id = 'returnhome') Return home

         
      .col-md-3
    script(src= 'js/profile.js')
  