extends layout.pug
block body
  //script(src='js/angular.min.js')
  script(src='js/signup.js')
  style.
    .p{
    font-size=8px;
    }
  .container-fluid
      .row
        .col-md-3  
        
        .col-md-6(ng-app='myApp', ng-controller='RegistrationController')
           br
           div
             img.rounded(src='images/id_card.png', alt='signup')
           br
           hr
           div
            h3 Sign up sucsess! We have sent you an email which contains a link.
            h3 Please click the link in your email to active your account.
           br
           div(name ='sentmail')
             a(href='/')
               button.btn.btn-primary(type='button' name = 'sentmail') Return to home page
        .col-md-3