extends layout.pug
block body
  .container-fluid
      .row
        .col-md-3  
        
        .col-md-6
          style.
            p{
            color: gray;
            font-size:0.8em;
            }
          div
            img.rounded(src='images/id_card.png', alt='set role')
          br
          hr
          br
          h4 Acctount 
          h3 #{myusername}
          h4 Please choose your role
          br
          .radio
            label
              input(type='radio', name='optradio', id = 'user')
              | &nbspRegister as a job hunter who wants to send resumes
          .radio
            label
              input(type='radio', name='optradio',id= 'boss')
              | &nbspRegister as an employer who wants to post jobs
          br
          p(id = 'desc') You will not be able to change your role after saving this setting.    
          br
          hr         
          button.btn.btn-primary(type='button', id = 'saverole') Save 
        .col-md-3
      script(src= 'js/setrole.js')