extends layout.pug
block body
  //script(src='js/angular.min.js')
  script(src='js/signup.js')
  style.
    .p{
    font-size=8px;
    }
  .container-fluid
      .row
        .col-md-3  
        
        .col-md-6(ng-app='myApp', ng-controller='RegistrationController')
          br
          div
            img.rounded(src='images/id_card.png', alt='signup')
          br
          hr
          form(name='myform', ng-submit='register()', novalidate='')
            .textintro
              h1 #{typestr}
              p(class='small') Please fill out the following form
              //p(ng-show='message') {{ message }}
             
              div 
                label(for='email') Email address
                input.form-control(type='email',id= 'email', name='email', placeholder='Email', ng-model='user.email', required='')
                p.error.validationerror(ng-show='myform.email.$invalid && myform.email.$touched')
                  | This must be a valid email.
              div
                label(for='password') Password
                input.form-control(type='password', id = 'password',name='password', placeholder='Password', ng-minlength='6',ng-model='value1', equals='{{value2}}', required='')
                p.error.validationerror(ng-show='myform.password.$invalid && myform.password.$touched')
                  | Password does not match or less than 6 characters
              div
                label(for='confirmPassword') Retype password
                input.form-control(type='password', id = 'confirmPassword' , name='confirmPassword', placeholder='Retype password', ng-model='value2', equals='{{value1}}', required='')
                p.error.validationerror(ng-show='myform.confirmPassword.$invalid && myform.confirmPassword.$touched')
                  | Password does not match or less than 6 characters
              br
              button.btn.btn-primary(type='submit' ng-disabled=' myform.email.$invalid || myform.confirmPassword.$invalid || myform.password.$invalid' ) Submit
        .col-md-3
        input.form-control(hidden='',id ='typeinput', value=type) 
