extends layout.pug
block body

 
 //script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
 link(href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css', rel='stylesheet')
 script(src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js')
 style.
   /*This style from booststrap v3*/
   .pagination {
       display: inline-block;
       padding-left: 0;
       margin: 0px 0;
       border-radius: 0px   /*4px*/
   }
   .pagination>li {
       display: inline
   }
   .pagination>li>a,
   .pagination>li>span {
       position: relative;
       float: left;
       padding: 6px 12px;
       margin-left: -1px;
       line-height: 1.42857143;
       color: #337ab7;
       text-decoration: none;
       background-color: #fff;
       border: 1px solid #F1F1F1 /* #ddd */
   }
   .pagination>li:first-child>a,
   .pagination>li:first-child>span {
       margin-left: 0;
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px
   }
   .pagination>li:last-child>a,
   .pagination>li:last-child>span {
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px
   }
   .pagination>li>a:focus,
   .pagination>li>a:hover,
   .pagination>li>span:focus,
   .pagination>li>span:hover {
       z-index: 2;
       color: #23527c;
       background-color: #eee;
       border-color: #F1F1F1
   }
   .pagination>.active>a,
   .pagination>.active>a:focus,
   .pagination>.active>a:hover,
   .pagination>.active>span,
   .pagination>.active>span:focus,
   .pagination>.active>span:hover {
       z-index: 3;
       color: #fff;
       cursor: default;
       background-color: #337ab7;
       border-color: #337ab7
   }
   .pagination>.disabled>a,
   .pagination>.disabled>a:focus,
   .pagination>.disabled>a:hover,
   .pagination>.disabled>span,
   .pagination>.disabled>span:focus,
   .pagination>.disabled>span:hover {
       color: #777;
       cursor: not-allowed;
       background-color: #fff;
       border-color: #F1F1F1
   }
   .pagination-lg>li>a,
   .pagination-lg>li>span {
       padding: 10px 16px;
       font-size: 18px;
       line-height: 1.3333333
   }
   .pagination-lg>li:first-child>a,
   .pagination-lg>li:first-child>span {
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px
   }
   .pagination-lg>li:last-child>a,
   .pagination-lg>li:last-child>span {
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px
   }
   .pagination-sm>li>a,
   .pagination-sm>li>span {
       padding: 5px 10px;
       font-size: 15px; /* 12px changed to 15px*/
       line-height: 1.5
   }
   .pagination-sm>li:first-child>a,
   .pagination-sm>li:first-child>span {
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px
   }
   .pagination-sm>li:last-child>a,
   .pagination-sm>li:last-child>span {
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px
   }
   .pager {
       padding-left: 0;
       margin: 20px 0;
       text-align: center;
       list-style: none
   }
   .pager li {
       display: inline
   }
   .pager li>a,
   .pager li>span {
       display: inline-block;
       padding: 5px 14px;
       background-color: #fff;
       border: 1px solid #F1F1F1;
       border-radius: 15px
   }
   .pager li>a:focus,
   .pager li>a:hover {
       text-decoration: none;
       background-color: #eee
   }
   .pager .next>a,
   .pager .next>span {
       float: right
   }
   .pager .previous>a,
   .pager .previous>span {
       float: left
   }
   .pager .disabled>a,
   .pager .disabled>a:focus,
   .pager .disabled>a:hover,
   .pager .disabled>span {
       color: #777;
       cursor: not-allowed;
       background-color: #fff
   }
   button[id='delete']{
     position: relative;
     left:8px;
     width:70px;
     background-color:white;
     border-radius:0;
     border: 1px solid #F1F1F1;
   }

   button[id='save']{
     position: relative;
     left:5px;
     width:70px;
     background-color:white;
     border-radius:0;
     border: 1px solid #F1F1F1;
   }

   button[id='rename']{
     position: relative;
     left:2px;
     width:70px;
     background-color:white;
     border-radius:0;
     border: 1px solid #F1F1F1;
   }

   button[id='new']{
     position: relative;
     left:-1px;
     width:70px;
     background-color: white;
     border-radius:0;
     border: 1px solid #F1F1F1;

   }

   .bottom_footer {
       position: relative;
       top:4px;
   }


   div.middiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }
   div.leftpanel {
   margin-top: 20px;
   
   }

   .leftdiv{
    border: 1px solid #F1F1F1;
    height: 90vh;
   }

   
   div.middiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }
   div.rightdiv {
   border: 1px solid #F1F1F1;
   padding: 0px;
   margin: 0px;
   }




   .note-editor
   {
   position: relative;
   top:1px;
   left:-1px;
   border-radius:0;
   
   }

   div[class = 'selected']
   {
   padding :10px;    
   background-color:#d9e5f9;
   cursor: pointer;
   height: 40px;
   }


   div [class='line']
   {
   padding :10px;
   height: 40px;
   }

   div[class = 'line']:hover
   {
   padding :10px;    
   background-color: #F1F1F1;
   cursor: pointer;
   height: 40px;
   }
   div.topdiv{
   text-align: center;   
   font-family: 'Bookman';  

   }



 .container-fluid(ng-app='ui.bootstrap.demo')
   .row(ng-controller='PaginationDemoCtrl' )
     .col-md-12.topdiv
       h3 Manage your resumes
       br
     .col-md-2.leftdiv
     

     .col-md-3.middiv( ng-cloak='',ng-init="load()")
       div.buttonpanel 
         
         .paganation0
           table.table
             div(ng-if='row.length > 0', ng-init='linesDone()')
             //, repeat-done='layoutDone()'
             div(ng-repeat='row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))', ng-init='$last && linesDone()')  
               .line(ng-click='lineClick($event)')
                  div(hidden='') {{row._id}}
                  div(class='title') {{row.title}}


           .page.bottom_footer
             //ul.pagination-sm(uib-pagination='', boundary-links='true', total-items='totalItems', ng-model='currentPage', max-size='maxSize', previous-text='‹', next-text='›', first-text='«', last-text='»',ng-change="pageChanged()")
             
             ul.pagination-sm(uib-pagination='', items-per-page='itemsPerPage',total-items='totalItems', ng-model='currentPage', max-size='maxSize', boundary-links='true', num-pages='numPages',ng-change="pageChanged()")
     .col-md-7.rightdiv
           .button
             button.btn.btn-default.btn-sm(id= 'new' ,ng-click='newFile()') New file
             button.btn.btn-default.btn-sm(id= 'rename' ,ng-click='renameFile()') Rename
             button.btn.btn-default.btn-sm(id= 'save' ,ng-click='saveFile()') Save
             button.btn.btn-default.btn-sm(id= 'delete' ,ng-click='deleteFile()') Delete
             #summernote
           //script.
             $(document).ready(function() {
             $('#summernote').summernote();
             });

           script(src= 'js/writeresume.js')
