   /*This style from booststrap v3*/
   .pagination {
       display: inline-block;
       padding-left: 0;
       margin: 0px 0;
       border-radius: 0px   /*4px*/
   }
   .pagination>li {
       display: inline
   }
   .pagination>li>a,
   .pagination>li>span {
       position: relative;
       float: left;
       padding: 6px 12px;
       margin-left: -1px;
       line-height: 1.42857143;
       color: #337ab7;
       text-decoration: none;
       background-color: #fff;
       border: 1px solid #F1F1F1 /* #ddd */
   }
   .pagination>li:first-child>a,
   .pagination>li:first-child>span {
       margin-left: 0;
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px
   }
   .pagination>li:last-child>a,
   .pagination>li:last-child>span {
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px
   }
   .pagination>li>a:focus,
   .pagination>li>a:hover,
   .pagination>li>span:focus,
   .pagination>li>span:hover {
       z-index: 2;
       color: #23527c;
       background-color: #eee;
       border-color: #F1F1F1
   }
   .pagination>.active>a,
   .pagination>.active>a:focus,
   .pagination>.active>a:hover,
   .pagination>.active>span,
   .pagination>.active>span:focus,
   .pagination>.active>span:hover {
       z-index: 3;
       color: #fff;
       cursor: default;
       background-color: #337ab7;
       border-color: #337ab7
   }
   .pagination>.disabled>a,
   .pagination>.disabled>a:focus,
   .pagination>.disabled>a:hover,
   .pagination>.disabled>span,
   .pagination>.disabled>span:focus,
   .pagination>.disabled>span:hover {
       color: #777;
       cursor: not-allowed;
       background-color: #fff;
       border-color: #F1F1F1
   }
   .pagination-lg>li>a,
   .pagination-lg>li>span {
       padding: 10px 16px;
       font-size: 18px;
       line-height: 1.3333333
   }
   .pagination-lg>li:first-child>a,
   .pagination-lg>li:first-child>span {
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px
   }
   .pagination-lg>li:last-child>a,
   .pagination-lg>li:last-child>span {
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px
   }
   .pagination-sm>li>a,
   .pagination-sm>li>span {
       padding: 5px 10px;
       font-size: 15px; /* 12px changed to 15px*/
       line-height: 1.5
   }
   .pagination-sm>li:first-child>a,
   .pagination-sm>li:first-child>span {
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px
   }
   .pagination-sm>li:last-child>a,
   .pagination-sm>li:last-child>span {
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px
   }
   .pager {
       padding-left: 0;
       margin: 20px 0;
       text-align: center;
       list-style: none
   }
   .pager li {
       display: inline
   }
   .pager li>a,
   .pager li>span {
       display: inline-block;
       padding: 5px 14px;
       background-color: #fff;
       border: 1px solid #F1F1F1;
       border-radius: 15px
   }
   .pager li>a:focus,
   .pager li>a:hover {
       text-decoration: none;
       background-color: #eee
   }
   .pager .next>a,
   .pager .next>span {
       float: right
   }
   .pager .previous>a,
   .pager .previous>span {
       float: left
   }
   .pager .disabled>a,
   .pager .disabled>a:focus,
   .pager .disabled>a:hover,
   .pager .disabled>span {
       color: #777;
       cursor: not-allowed;
       background-color: #fff
   }

