# Empty CSS file for your own CSS
.box1{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

input::-webkit-input-placeholder {  /* WebKit browsers */
    font-size: 9px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 11px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 11px;
}
 
 